*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body {
    font-family: $font-primary;
    color: $color-primary;
    line-height: 1.45;
    font-size: 1.9rem;
    box-sizing: border-box;
    letter-spacing: .1px;
}

// Assign display:grid to all direct children of .main and assign template to all these grids
.main {

    & > * {
        display: grid;
        grid-template-columns: $grid-main;
    }

    & > * > * {
        grid-column: center-start / center-end;
    }
}