.heading {
    color: $color-darkblue;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

.heading-1 {
    @extend .heading;
    font-size: 4.1rem;

    @media only screen and (max-width: $bp-medium) {
        font-size: 5rem;
    }
}

.heading-2 {
    @extend .heading;
    font-size: 3.4rem;
    letter-spacing: 1px;
    line-height: 1.25;

    @media only screen and (max-width: $bp-medium) {
        font-size: 5rem;
        max-width: 79%;
        line-height: 1;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 3rem;
        max-width: 79%;
        line-height: 1;
    }
}