.btn {
    font-family: 'Ubuntu', sans-serif;
    border: none;
    padding: 2rem 0 1.8rem 0;
    background-color: $color-indigo;
    border-radius: 10rem;
    color: $color-white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 1;
    min-width: 29rem;

    &--transparent {
        background-color: transparent;
        border: 1px solid $color-darkblue;
        color: $color-darkblue;
    }
}