.setup-simple {
    padding: 7.6rem 0 10.1rem 0;

    @media only screen and (max-width: $bp-medium) {
        padding: 8.9rem 0 10.1rem 0;
    }

    .heading-2 {
        margin-bottom: 2.1rem;

        @media only screen and (max-width: $bp-medium) {
            margin-bottom: 5rem;
        }
    }

    &__steps {
        display: flex;
        margin-top: 13.8rem;

        @media only screen and (max-width: $bp-large) {
            margin-left: 5rem;
            margin-top: 9.8rem;
        }

        @media only screen and (max-width: $bp-small) {
            margin-left: 2rem;
            margin-top: 9.8rem;
        }
    }

    &__step {
        display: flex;
        flex-direction: column;
        position: relative;

        &:first-child {
            margin-right: 16.5rem;

            &::before {
                @include backgroundText;
                content: '1';
            }

            @media only screen and (max-width: $bp-small) {
                margin-right: 6.5rem;
            }
        }

        &:last-child {

            &::before {
                @include backgroundText;
                content: '2';
                left: -5.8rem;
            }
        }
    }

    &__icon {
        max-width: 5.8rem;
        max-height: 5.8rem;
        fill: $color-darkblue;
        margin-bottom: 4.5rem;
        order: -1;

        @media only screen and (max-width: $bp-medium) {
            max-width: 7rem;
            max-height: 7rem;
            margin-bottom: 4.5rem;
        }
    }

    &__link:link,
    &__link:visited {
        color: $color-emerald;
        font-size: 2.1rem;
        line-height: 1;
        letter-spacing: .2px;
        text-decoration-skip-ink: none;
        transition: color .2s ease-out;

        &:hover,
        &:focus {
            outline: none;
            color: $color-indigo;
        }

        &:hover+.setup-simple__icon,
        &:focus+.setup-simple__icon {
            animation: jump .7s infinite;
        }

        @media only screen and (max-width: $bp-medium) {
            max-width: 82%;
            font-size: 2.5rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
        }
    }

    &__text {
        @media only screen and (max-width: $bp-medium) {
            font-size: 2.6rem;
            max-width: 80%;
        }
    }
}