.setup-code {
    background-color: $color-grey-light;
    padding: 8.9rem 0 9.4rem 0;

    &__list {
        margin-top: 7.9rem;
        list-style: none;

        & > *:not(:last-child) {
            margin-bottom: 5.4rem;
        }
    }

    &__item {
        margin-left: 4rem;
        display: inline-block;
        
        &:last-child {
            margin-top: 0.8rem;
        }
    }

    &__link:link,
    &__link:visited {
        @include linkSetup;

        &::before {
            @include circle;
        }
        
        @media only screen and (max-width: $bp-medium) {
            max-width: 70%;
        }
    }

    &__text {
        @media only screen and (max-width: $bp-medium) {
            font-size: 2.3rem;
        }
    }
}