.setup-simple {
    padding: 7.6rem 0 10.1rem 0;

    .heading-2 {
        margin-bottom: 2.1rem;
    }

    &__steps {
        display: flex;
        margin-top: 13.8rem;
    }

    &__step {
        display: flex;
        flex-direction: column;
        position: relative;

        &:first-child {
            margin-right: 16.5rem;

            &::before {
                @include backgroundText;
                content: '1';
            }
        }

        &:last-child {

            &::before {
                @include backgroundText;
                content: '2';
                left: -5.8rem;
            }
        }
    }

    &__icon {
        max-width: 5.8rem;
        max-height: 5.8rem;
        fill: $color-darkblue;
        margin-bottom: 4.5rem;
        order: -1;
    }

    &__link:link,
    &__link:visited {
        color: $color-emerald;
        font-size: 2.1rem;
        line-height: 1;
        letter-spacing: .2px;
        text-decoration-skip-ink: none;
        transition: color .2s ease-out;

        &:hover,
        &:focus {
            outline: none;
            color: $color-indigo;
        }

        &:hover + .setup-simple__icon,
        &:focus + .setup-simple__icon {
            animation: jump .7s infinite;
        }
    }
}