.setup-fast {
    padding: 8.1rem 0 7.7rem 0;
    
    background-color: $color-grey-light;

    .heading-1 {
        margin-bottom: 3rem;
    }

    &__buttons {
        margin-top: 6.2rem;

        & > :first-child {
            margin-right: 2rem;
        }
    }
}