@mixin backgroundText {
    position: absolute;
    font-size: 17rem;
    font-weight: 700;
    color: $color-lightblue;
    top: -7.5rem;
    left: -6rem;
    line-height: 1;
    z-index: -1;
}

@mixin linkSetup {
    display: inline-block;
    font-size: 2.8rem;
    color: $color-emerald;
    line-height: 1;
    letter-spacing: -.2px;
    margin-bottom: 1.7rem;
    position: relative;
    text-decoration-skip-ink: none;
    transition: color .2s ease-out;

    &:hover,
    &:focus {
        outline: none;
        color: $color-indigo;
    }
}

@mixin circle {
    content: '';
    position: absolute;
    height: .9rem;
    width: .9rem;
    background-color: $color-darkblue-1;
    border-radius: 10rem;
    top: 1.1rem;
    left: -4.2rem;
}