// COLORS
$color-primary: #74757b;
$color-grey: #e1e2e9;
$color-grey-light: #eff4f4;
$color-white: #fff;


$color-darkblue: #393e6b;
$color-darkblue-1: #3b4269;
$color-lightblue: #e1e2e9;
$color-lightblue-1: #adb0c2;

$color-emerald: #0da088;
$color-indigo: #2cd3b8;
$color-cyan: #68cdbc;

// FONTS
$font-primary: 'Ubuntu', sans-serif;

// GRID SETUP
$grid-main: [full-start] 3fr [main-start] 12.5fr [center-start] repeat(3, [col-start] 16.33fr [col-end]) [center-end] 12.5fr [main-end] 3fr [full-end];